.finance_main {
    display: grid;
    grid-template-columns: 30% 70%;
}
.finance_col_left {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 0.3rem;
    background-color: whitesmoke;
    border-right: 2px solid rgb(69, 67, 80);
}
.finance_col_right {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100%;
    width: 100%;
    padding: 1.5rem 0 1.5rem 0;
    max-height: 90vh;
    overflow-y: auto;
}
.close_btn {
    margin: auto 0 1rem 0;
}
.operation_wrapper {
    display: grid;
    grid-template-columns: 3fr 1fr;
    width: 100%;
}
.operation {
    margin: 0.3rem 0 0.3rem 0;
    font-size: 0.9rem;
}
.operation_amount {
    text-align: end;
    font-weight: 200;
}
.operation_list_container{
    margin: 2rem 0rem 2rem 0rem;
    padding: 0 2rem 0 2rem;
    width: 100%;
}