.settings_main {
    display: flex;
    flex-direction: column;
    margin: 0.7rem;
}
.add_new {
  margin: 0.2rem;
}
.settings_title {
  text-align: center;
  margin: 1rem 0 0.8rem 0;
}
.settings_subtitle {
  margin: 0px;
}
.text_button_pair {
  display: grid;
  grid-template-columns: 2fr 1fr;
  align-items: center;
  margin: 0 2rem 0 2rem;
}
